body{
    font-family: Arial;
    margin-top: 0;
}
.header{
    width: 100%;
    display: flex;
    margin: auto;
    position: fixed;
    background-color: white;
    padding: 5px;
    justify-content: center;
}
button{
    background:none;
    border: none;
}
.logoCon{
    width: 30%;
    min-width: 180px;
    display: flex;
}
.menuBtn .menuBtnImg{
    max-width: 20px;
}
.menuBarCon{
    width: 200px;
    position: fixed;
    background-color: white;
    box-shadow: 5px 5px 20px rgba(17, 17, 17, 0.473);
    border-radius: 30px;
    margin-top: 50px;
    font-size: 13px;
    display: none;
}
.menuTitleCon{
    width: 80%;
    margin: 20px auto auto auto ;
    background-color: #6F00FF;
    padding: 5px;
    border-radius: 20px;
}
.menuTitle{
    color: white;
    margin-left: 20px;
    font-weight: bold;
}
.menuItemsCon{
    width: 100%;
    margin: auto;
}
.menuItems{
    list-style: none;
}
.menuItemCon{
    display: flex;
}
.menuItem{
    margin-top: 30px;
}
.menuItemIcon{
    width: 17px;
    margin: auto;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 30px;
}
.logoBtn .logoBtnImg{
    max-width: 100px;
}
.searchCon{
    width: 30%;
    min-width: 180px;
    display: flex;
    justify-content: flex-end;
}
.searchBtn .searchBtnImg{
    max-width: 20px;
}
.loginBtn .loginBtnImg{
    max-width: 30px;
}
.searchCon2{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBarCon{
    margin-top: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.searchBar{
    width: 90%;
    min-width: 90px;
    max-width: 250px;
    border: 0.5px solid rgb(202, 202, 202);
    border-radius: 30px;
    padding: 5px 10px;
}
.searchBtnCon .searchBtn{
    background-color: #6F00FF;
    border-radius: 1000px;
    padding: 5px 7.5px;
    margin-left: 10px;
}
.searchBtnCon .searchBtn .searchBtnImg{
    width: 15px;
    margin-top: 3px;
}
.adImgCon{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adImg{
    width: 100%;
    max-width: 360px;
    margin: auto;
}
.introCon{
    width: 95vw;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introTxtCon{
    width: 70%;
    min-width: 200px;
    max-width: 300px;
    padding: 10px 30px;
    background-image: url("../images/molex_banner.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #6F00FF;
    border-radius: 30px;
    aspect-ratio: 16/9;
    font-size: 20px;
    align-content: center;
}
.mainTxt{
    font-size: 0.75em;
    font-family: Arial;
    font-weight: bold;
    color: white;
}
.subTxt{
    font-size: 0.5em;
    color: white;
}
.introBtnCon{
    margin: 0px 0px;
}
.introBtn{
    color: white;
    background-color: #6F00FF;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px;
    border-radius: 500px;
    font-size: 0.5em;
}
.topDealsSec{
    width: 95vw;
    margin-top: 30px;
}
.topDealsHeader{
    display: flex;
    width: 100%;
    max-width: 360px;
    margin: auto;
}
.topDealsCon, .seeAllCon{
    width: 50%;
}
.topDeals{
    font-weight: bold;
    margin-left: 10px;
}
.seeAllBtn{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}
.seeAll{
    color: #6F00FF;
    margin-right: 5px;
}
.seeAllImg{
    width: 10px;
    height: 15px;
    margin: auto;
}
.topDealsBody{
    width: 100%;
    min-width: 340px;
    max-width: 380px;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.deal{
    width: 30%;
    min-width: 100px;
    border: 1px solid #6F00FF;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 10px;
}
.dealImgCon{
    height: 60%;
}
.dealImg{
    width:100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dealInfo{
    height: 40%;
    font-size: 10px;
}
.nameCon{
    display: flex;
    margin: 5px;
}
.carName{
    color:#6F00FF;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
}
.saveBtn{
    width: 22px;
    margin-left: auto;
    height: fit-content;
}
.saveBtnImg{
    width: 100%;
    aspect-ratio: 1/1.25;
}
.carPrice{
    font-size: 1.23em;
    color: #14AD90;
    font-weight: bold;
    margin: 0;
    margin: 5px;
}
.carDiscount{
    font-size: 0.95em;
    color: rgb(46, 46, 46);
    margin: 5px;
}
.locationCon{
    display: flex;
}
.carLocation{
    font-size: 0.75em;
    color: rgb(34, 34, 34);
    margin: 5px;
}
.carCondition{
    margin-left: auto;
    margin-right: 5px;
    font-size: 1em;
    font-weight: bold;
    background-color: rgb(219, 219, 219);
    height: fit-content;
    align-self:center;
    border-radius: 5px;
    color: #14AD90;
    padding: 2.5px 5px;
}
.bymakeSec{
    margin-top: 70px;
    width: 100%;
}
.bymakeHeader{
    width: 100%;
    max-width: 360px;
    margin: auto;
}
.bymake{
    font-weight: bold;
    margin-left: 10px;
}
.bymakeBody{
    width: 100%;
    min-width: 300px;
    max-width: 360px;
    margin: auto;
    margin-top: 25px;
}
.makeBtn{
    border: 1px solid #6F00FF;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
}
.shopCarsSec{
    width: 100%;
    margin-top: 70px;
    font-weight: bold;
}
.shopCarsHeader{
    width: 100%;
    max-width: 340px;
    margin: auto;
    border-bottom: 2px solid #6F00FF;
    padding-bottom: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.shopCarsCon{
    width: fit-content;
    height: fit-content;
    max-height: 150px;
    min-width: 200px;
    max-width: 250px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #6F00FF;
    border-radius: 30px;
    padding: 15px 10px;
}
.carImgCon{
    width: 50%;
    display: flex;
    align-content: center;
}
.carInfoCon{
    width: 50%;
}
.carImg1{
    width: 100%;
    border-radius: 20px;
}
.keyCon{
    display: flex;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 5px;
}
.carName1{
    font-size: 0.9em;
    color: #6F00FF;
    font-weight: bold;
    margin: auto;
    margin-left: 10px;
}
.keyName{
    font-size: 0.7em;
    color: grey;
    margin: auto;
    margin-left: 10px;
    margin-right: 20px;
}
.carPriceValue{
    margin: auto 0 auto auto;
    font-size: 0.8em;
    font-weight: bold;
    color: #14AD90;
}
.carYearValue{
    font-size: 0.7em;
    margin: auto 0 auto auto;
    color: grey;
    font-weight: bold;
}
.carLocationValue{
    font-size: 0.7em;
    height: 20px;
    overflow-y: hidden;
    margin: auto 0 auto auto;
    color: grey;
    text-align: right;
}
.carConditionValue{
    font-size: 0.7em;
    margin: auto 0 auto auto ;
    color: grey;
    background-color: rgb(223, 223, 223);
    padding: 2px 5px;
    border-radius: 10px;
}
.saveBtn1{
    width: 25px;
    margin-left: 5px;
}
.detailsBtn{
    background-color: #6F00FF;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: auto;
    font-size: 0.8em;
}
.newArrivalsSec{
    width: 100%;
    margin-top: 50px;
}
.newArrivalsHeader{
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    margin: auto;
    display: flex;
}
.newArrivalsCon, .seeAllCon{
    width: 50%;
}
.newArrivals{
    font-weight: bold;
    padding-left: 10px;
}
.newArrivalsBody{
    width: 100%;
    min-width: 320px;
    max-width: 360px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.newCar{
    width: 30%;
    margin: 20px auto auto auto;
}
.newCarImgCon{
    width: 100%;
}
.newCarImg{
    width: 100%;
    border: 2px solid #6F00FF;
    border-radius: 20px;
}
.newCarInfoCon{
    width: 100%;
    font-size: 12px;
}
.newCarNameCon{
    width: 100%;
}
.newCarName{
    font-size: 0.9em;
    color: #6F00FF;
    font-weight: bold;
    margin: 5px 5px auto 5px;
}
.newCarPriceCon{
    width: 100%;
}
.newCarPrice{
    font-size: 1em;
    color: #14AD90;
    font-weight: bold;
    margin: 10px auto auto 5px;
}
.newCarYearCon{
    width: 100%;
    display: flex;
}
.newCarYear{
    font-size: 0.8em;
    color: grey;
    margin: 10px auto auto 5px;
}
.saveBtn2{
    width: 22.5px;
    margin: 10px 0px auto auto;
}



.footer{
    width: 100%;
    height: 600px;
    background-color: #6F00FF;
    margin: auto;
    margin-top: 200px;
}