body{
    font-family: Arial;
}
.header{
    width: 95vw;
    max-width: 720px;
    display: flex;
}
button{
    background:none;
    border: none;
}
.logoCon{
    width: 50%;
    display: flex;
}
.menuBtn .menuBtnImg{
    max-width: 30px;
}
.logoBtn .logoBtnImg{
    max-width: 100px;
}
.searchCon{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.searchBtn .searchBtnImg{
    max-width: 20px;
}
.loginBtn .loginBtnImg{
    max-width: 30px;
}
.searchCon2{
    width: 95vw;
    max-width: 720px;
    display: flex;
}
.searchBarCon{
    width: 90%;
}
.searchBar{
    width: 90%;
    border: 0.5px solid rgb(202, 202, 202);
    border-radius: 30px;
    padding: 5px 10px;
}
.searchBtnCon .searchBtn{
    background-color: #6F00FF;
    border-radius: 1000px;
    padding: 5px 7.5px;
}
.adImgCon{
    width: 95vw;
    max-width: 720px;
}
.adImg{
    width: 100%;
}
.introCon{
    background-image: url("../images/molex_banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #6F00FF;
    border-radius: 30px;
    min-width: 360px;
    max-width: 600px;
}
.introTxtCon{
    width: 70%;
    padding: 10px 30px;
}
.mainTxt{
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}
.subTxt{
    font-size: 12px;
    color: white;
}
.introBtnCon{
    margin: 30px 0px;
}
.introBtn{
    color: white;
    background-color: #6F00FF;
    margin: 20px 20px 0px 0px;
    padding: 10px 20px;
    border-radius: 500px;
}